body {
    margin: 0;
    overflow: hidden;
    background: rgb(171, 251, 209);
}

img {
    width: 20%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}